<script setup>
import OrderTableVue from "../OrderTable.vue";
import { connectSocket } from "../../utils/socket";
import { reactive, ref } from "@vue/reactivity";
import { computed, onMounted } from "@vue/runtime-core";
const DATALENGTH = 8;
// 獲取最後成交價
const lastPriceState = reactive({ price: 0 });
function lastPriceHandler() {
	connectSocket(
		"wss://ws.btse.com/ws/futures",
		{
			op: "subscribe",
			args: ["tradeHistoryApi:BTCPFC"],
		},
		(msg) => {
			if (msg && msg[0]) {
				// 當前價錢
				const currentPrice = msg[0].price;
				const previousPrice = lastPriceState.price;
				// 比較 當前價錢 > 之前價錢 = 漲價
				lastPriceState.price = Number(currentPrice);
				lastPriceState.status =
					currentPrice > previousPrice
						? "rise"
						: currentPrice == previousPrice
						? ""
						: "fall";
			}
		}
	);
}

let asksRef = ref([]);
let bidsRef = ref([]);
const formatAsks = computed(() =>
	formatOrderBook(asksRef.value, true)
		.slice(-1 * DATALENGTH)
		.reverse()
);
const fromatBids = computed(() =>
	formatOrderBook(bidsRef.value).slice(0, DATALENGTH)
);
const totlalsize = computed(
	() =>
		asksRef.value.reduce((p, c) => p + +c[1], 0) +
		bidsRef.value.reduce((p, c) => p + +c[1], 0)
);
// 獲取訂單列表
function orderBookHandler() {
	connectSocket(
		"wss://ws.btse.com/ws/oss/futures",
		{ op: "subscribe", args: ["update:BTCPFC"] },
		(msg) => {
			if (!msg) return;
			const { asks, bids } = msg;
			if (msg && msg.type === "snapshot") {
				asksRef.value = asks;
				bidsRef.value = bids;
			} else if (msg && msg.type === "delta") {
				modifyOrder(msg);
			}
		}
	);
}

// 更新訂單列表
function modifyOrder(msg) {
	let needUpdateAsks = msg.asks;
	let needUpdateBids = msg.bids;
	const modifyer = (origins, modifys) => {
		let newArr = [];
		modifys.forEach((element) => {
			// 存在相同的更新大小
			let exist = origins.find((el) => el[0] == element[0]);
			if (exist) {
				exist[2] = exist[1] < Number(element[1]) ? "upflash" : "downflash";
				exist[1] = Number(element[1]);
			} else {
				element[2] = "new";
				newArr.push(element);
			}
		});
		// 不在內部的塞進去之後排序去多餘的
		origins = [...origins, ...newArr];
		origins = origins
			.filter((e) => e[1] != 0)
			.sort((a, b) => Number(b[0]) - Number(a[0]));
		return origins;
	};
	//只留最大長度的陣列減少記憶體消耗
	asksRef.value = modifyer(asksRef.value, needUpdateAsks).slice(
		-1 * DATALENGTH
	);
	bidsRef.value = modifyer(bidsRef.value, needUpdateBids).slice(0, DATALENGTH);
}

// 數據轉化
function formatOrderBook(order, needReduceRight = false) {
	const ClosureFunction = (prev, curr) => {
		const prevTotal = prev.length && prev[prev.length - 1].total;
		return prev.concat({
			price: Number(curr[0]),
			size: Number(curr[1]),
			total: Number(prevTotal) + Number(curr[1]),
			class: curr[2] ?? "",
		});
	};
	if (needReduceRight) {
		return order.reduceRight((prev, curr) => ClosureFunction(prev, curr), []);
	} else {
		return order.reduce((prev, curr) => ClosureFunction(prev, curr), []);
	}
}

onMounted(() => {
	lastPriceHandler();
	orderBookHandler();
});
</script>
<template>
	<div class="ProjectOrderBookVue3">
		<div class="head">Order Book</div>
		<div class="orederTable">
			<OrderTableVue
				className="sell"
				:orders="formatAsks"
				:totlalsize="totlalsize"
			></OrderTableVue>
			<div :class="`lastPrice ${lastPriceState.status}`">
				{{ lastPriceState.price.currency() }}
				<icon v-show="lastPriceState.status" iconName="ArrowDown" />
			</div>
			<OrderTableVue
				className="buy"
				:showHead="false"
				:orders="fromatBids"
				:totlalsize="totlalsize"
			></OrderTableVue>
			<tbody>
				<tr></tr>
			</tbody>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.ProjectOrderBookVue3 {
	width: 300px;
	margin: auto;
	padding: 0.5rem 0;
	box-sizing: border-box;
	background: #131b29;
	color: #f0f4f8;
	border-radius: 8px;
	.head {
		text-align: left;
		padding: 0 0.5rem 0.5rem;
	}
	.orederTable {
		.lastPrice {
			position: relative;
			padding: 0.35rem 0;
			margin: 0.2rem 0;
			background: transparent;
			transition: 0.3s;
			.svg-icon {
				position: absolute;
				padding: 0 0.5rem;
			}
			&.rise {
				color: #00b15d;
				background: rgba(16, 186, 104, 0.12);
				.svg-icon {
					transform: rotate(180deg);
				}
			}
			&.fall {
				color: #ff5b5a;
				background: rgba(255, 90, 90, 0.12);
			}
		}
	}
}
</style>
