<template>
	<div>
		<table :class="[className]">
			<thead v-show="showHead">
				<tr>
					<th class="price">Price(USD)</th>
					<th class="size">Size</th>
					<th class="total">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in orders" :key="item.price" :class="item.class">
					<td class="price" :key="`price_${item.price}`">
						{{ item.price.currency() }}
					</td>
					<td class="size" :key="`size_${item.price}`">
						{{ item.size.currency() }}
					</td>
					<td class="total" :key="`total_${item.price}`">
						{{ item.total.currency() }}
						<span
							class="proportion"
							:style="{
								width: `${parseInt((item.total / totlalsize) * 100)}%`,
							}"
						></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
export default {
	props: {
		orders: {
			type: Array,
			default: [],
		},
		className: {
			type: String,
			default: "",
		},
		showHead: {
			type: Boolean,
			default: true,
		},
		totlalsize: {
			type: Number,
			default: 0,
		},
	},
};
</script>

<style lang="scss" scoped>
@mixin keyframe($animation_name, $background_color) {
	@keyframes #{$animation_name} {
		0% {
			background: $background_color;
		}
		100% {
			background: transparent;
		}
	}
}
table {
	width: 95%;
	margin: auto;
	text-align: left;
	border-collapse: collapse;
	tr {
		line-height: 1.45rem;
		th {
			color: #8698aa;
		}
		.price {
			width: 35%;
			text-align: left;
		}
		.size {
			width: 30%;
			color: #fff;
			text-align: right;
			background: transparent;
		}
		.total {
			width: 35%;
			color: #fff;
			text-align: right;
			position: relative;
			.proportion {
				background: rgba(255, 90, 90, 0.12);
				height: 15px;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
				position: absolute;
			}
		}
	}
	tbody {
		tr {
			&:hover {
				background: #1e3059;
			}
		}
	}
	&.buy {
		color: #00b15d;
		.new {
			animation: newbuy 0.3s;
		}
		.total {
			.proportion {
				background: rgba(16, 186, 104, 0.12);
			}
		}
	}
	@include keyframe(newbuy, rgba(16, 186, 104, 0.5));

	&.sell {
		color: #ff5b5a;
		.new {
			animation: newsell 0.3s;
		}
		.total {
			.proportion {
				background: rgba(255, 90, 90, 0.12);
			}
		}
	}
	@include keyframe(newsell, rgba(255, 90, 90, 0.5));

	.upflash {
		.size {
			animation: upflash 0.3s;
		}
	}
	.downflash {
		.size {
			animation: downflash 0.3s;
		}
	}
	@include keyframe(downflash, #00b15d);

	@include keyframe(upflash, #ff5b5a);
}
</style>
