<template>
	<div class="home">
		<div class="vue2">
			<h1>Vue2 Option API</h1>
			<OrderBookVue2></OrderBookVue2>
		</div>
		<div class="vue3">
			<h1>Vue3 Composition API</h1>
			<OrderBookVue3></OrderBookVue3>
		</div>
	</div>
</template>

<script setup>
import OrderBookVue2 from "./components/OrderBookVue2/index.vue";
import OrderBookVue3 from "./components/OrderBookVue3/index.vue";
</script>

<style lang="scss" scoped>
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-content: center;
}
.home {
	width: 100%;
	color: #fff;
	@include flex-center();
	flex-wrap: wrap;
	padding-bottom: 5rem;
	.vue2,
	.vue3 {
		text-align: center;
		width: 380px;
		@include flex-center();
		flex-direction: column;
	}
}
</style>
